{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Search Dashboard{% endblock %}

{% block page_content %}


    Design an EasyAdmin DashboardController for all our indexes, from the compiler pass data (the #[Meiliindex()] attribute data, plus


    {{ _self }}
    <ul>

        {% for indexName, settings in settings %}
            <li>
                <a class="btn btn-primary"
                   href="{{ path('meili_insta', {indexName: indexName}) }}" target="_blank">
                    {{ ux_icon('mdi:search') }}
                    {{ settings.rawName }}
                </a>


                <a class="btn btn-primary"
                   href="{{ path('meili_admin_meili_show_index', {indexName: indexName}) }}">
                    SHOW!
                    {{ settings.rawName }}
                </a>


                <hr />
                {{ ux_icon('fluent:brain-circuit-20-filled') }}
                {% set icons = ['fluent:brain-circuit-20-filled', 'mdi:semantic-web'] %}
                {% for idx, embedder in settings.embedders??[] %}
                    <button>

                        {# select icons from https://ux.symfony.com/icons and then run bin/console ux:icons:lock from the application root #}
                        <a href="{{ path('meili_insta_embed', {indexName: indexName, embedder: embedder}) }}" target="_blank">
                            {{ ux_icon('mdi:semantic-web') }}
                            Sematic Search {{ embedder }}
                        </a>
                    </button>


                {% endfor %}
            </li>

        {% endfor %}
    </ul>
{% endblock %}
