{% macro locale_switcher(locales, currentLocale, routeName, routeParams) %}
<div class="dropdown">
    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown">
        🌐 {{ currentLocale|upper }}
        {{ currentLocale|language_name }}
    </button>
    <ul class="dropdown-menu">
        {% for locale in locales %}
            <li>
                <a class="dropdown-item {{ locale == currentLocale ? 'active' : '' }}"
                   href="{{ path(routeName, routeParams|merge({'_locale': locale})) }}">
                    {{ locale|language_name(locale) }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}
