{% extends '@EasyAdmin/layout.html.twig' %}

{% block title %}{{ indexName }}{% endblock %}

{% block content_header %}
    <div class="content-header-title">
        <h1 class="title">{{ indexName }}</h1>
    </div>

    <div class="page-actions">
        <a href="{{ path('admin_meili_index') }}" class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> Back to Meili Index
        </a>
    </div>
{% endblock %}

{% block main %}
    {% for fieldName, counts in facetCounts %}
        <h4>{{ fieldName }}</h4>
        <ul>
            {% for c in counts|slice(0,4) %}
                <li>{{ c.label }}: {{ c.count }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    <pre>{{ settings|json_pretty }}</pre>
    <pre>{{ rawInfo|json_pretty }}</pre>
    <pre>{{ stats|json_pretty }}</pre>
{#    <andypf-json-viewer#}
{#            indent="2"#}
{#            expanded="true"#}
{#            theme="default-light"#}
{#            show-data-types="true"#}
{#            show-toolbar="false"#}
{#            expand-icon-type="arrow"#}
{#            show-copy="true"#}
{#            show-size="true"#}
{#            data='{"example": "data"}'#}
{#    ></andypf-json-viewer>#}

{#    <andypf-json-viewer data='{"test": "Hello World"}'></andypf-json-viewer>#}
{#    <andypf-json-viewer>{"name": "Helmut"}</andypf-json-viewer>#}

    {% for facetName, details in settings.facets|default([]) %}
        <li>
            <a href="{{ path('survos_facet_show', {indexName: indexName, fieldName: facetName}) }}">
                {{ facetName }}
            </a>
        </li>
    {% endfor %}
    <a class="btn btn-primary" href="{{ path('meili_insta', {indexName: indexName}) }}">
        SEARCH
    </a>

    {% set riccox = 'http://localhost:24900/ins/1/index/' ~ indexName %}
    <a class="btn btn-primary" href="{{ riccox }}">
        Tasks
    </a>

    <h3>Embedders</h3>
    {% for e in settings.embedders %}
        <a class="btn btn-success" href="{{ path('meili_insta_embed', {indexName: indexName, embedder: e}) }}">
            Semantic Search with {{ e }}
        </a>
    {% endfor %}



    {{ dump(indexName) }}

    {{ dump(settings) }}
{#    {{ dump(adminContext.dashboardTitle) }}#}
{#    {{ dump(adminContext.getDashboardRouteName) }}#}

{% endblock %}
